<% 
# Define some "helpers" here

def issue_status_pane(pane_name)
    selected_status = @settings['panes'][pane_name] && @settings['panes'][pane_name]['status'] ? @settings['panes'][pane_name]['status'].to_i : ''
    limit = @settings['panes'][pane_name] && @settings['panes'][pane_name]['limit'] ? @settings['panes'][pane_name]['limit'].to_i : ''
    status = content_tag(:p,
      content_tag(:label, l("kanban_label_#{pane_name}_pane".to_sym)) + 
      select_tag("settings[panes][#{pane_name}][status]",
                 content_tag(:option, '') +
                 options_from_collection_for_select(IssueStatus.all,
                                                    :id,
                                                    :name,
                                                    selected_status)) + 

      content_tag(:span, l(:kanban_label_limit), :style => "padding: 0 0.5em 0 3em;") + 
      text_field_tag("settings[panes][#{pane_name}][limit]", limit ))
      return status

end
%>

<fieldset>
  <%= content_tag(:legend, l(:kanban_text_general_settings)) %>

  <p>
    <%= content_tag(:label, l(:kanban_label_staff_role)) %>
    <%= select_tag("settings[staff_role]",
          content_tag(:option, '') +
          options_from_collection_for_select(Role.all, :id, :name, @settings['staff_role'].to_i)) %>
  </p>
</fieldset>

<fieldset>
  <%= content_tag(:legend, l(:kanban_text_pane_settings)) %>

  <%= content_tag(:p, l(:kanban_text_pane_settings_description)) %>

  <%= issue_status_pane('incoming') %>
  <%= issue_status_pane('backlog') %>

  <p>
    <%
      if @settings['panes']['backlog']
        status = IssueStatus.find_by_id(@settings['panes']['backlog']['status'].to_i)
      else
        status = nil
      end

     @settings['panes']['quick-tasks'] = {'limit' => 5 } unless @settings['panes']['quick-tasks']
    %>
    <%= content_tag(:label, l('kanban_label_quick-tasks_pane'.to_sym)) %>
    <%= h status.name if status %>

    <%= content_tag(:span, l(:kanban_label_limit), :style => "padding: 0 0.5em 0 3em;") %> 
    <%= text_field_tag("settings[panes][quick-tasks][limit]", @settings['panes']['quick-tasks']['limit']) %>
  </p>

  <%= issue_status_pane('selected') %>
  <%= issue_status_pane('active') %>
  <%= issue_status_pane('testing') %>
  <p>
    <% finished_status = @settings['panes']['finished'] && @settings['panes']['finished']['status'] ? @settings['panes']['finished']['status'].to_i : ''    %>
    <% finished_limit = @settings['panes']['finished'] && @settings['panes']['finished']['limit'] ? @settings['panes']['finished']['limit'].to_f : '' %>

    <%= content_tag(:label, l("kanban_label_finished_pane".to_sym)) + 
      select_tag("settings[panes][finished][status]",
                 content_tag(:option, '') +
                 options_from_collection_for_select(IssueStatus.all(:conditions => {:is_closed => true}),
                                                    :id,
                                                    :name,
                                                    finished_status)) %>

    <%= content_tag(:span, l(:kanban_label_day_limit), :style => "padding: 0 0.5em 0 3em;") %>
    <%= text_field_tag("settings[panes][finished][limit]", finished_limit ) %>
  </p>

  <p>
    <% canceled_status = @settings['panes']['canceled'] && @settings['panes']['canceled']['status'] ? @settings['panes']['canceled']['status'].to_i : ''    %>
    <% canceled_limit = @settings['panes']['canceled'] && @settings['panes']['canceled']['limit'] ? @settings['panes']['canceled']['limit'].to_f : '' %>

    <%= content_tag(:label, l("kanban_label_canceled_pane".to_sym)) + 
      select_tag("settings[panes][canceled][status]",
                 content_tag(:option, '') +
                 options_from_collection_for_select(IssueStatus.all(:conditions => {:is_closed => true}),
                                                    :id,
                                                    :name,
                                                    canceled_status)) %>

    <%= content_tag(:span, l(:kanban_label_day_limit), :style => "padding: 0 0.5em 0 3em;") %>
    <%= text_field_tag("settings[panes][canceled][limit]", canceled_limit ) %>
  </p>

</fieldset>
