<% 
# Define some "helpers" here

def issue_status_pane(pane_name)
    status = content_tag(:p,
      content_tag(:label, l("kanban_label_#{pane_name}_pane".to_sym)) + 
      select_tag("settings[panes][#{pane_name}][status]",
        content_tag(:option, '') + options_from_collection_for_select(IssueStatus.all, :id, :name, @settings['panes'][pane_name]['status'].to_i)) + 

      content_tag(:span, l(:kanban_label_limit), :style => "padding: 0 0.5em 0 3em;") + 
      text_field_tag("settings[panes][#{pane_name}][limit]", @settings['panes'][pane_name]['limit']))
      return status

end
%>

<fieldset>
  <%= content_tag(:legend, l(:kanban_text_general_settings)) %>

  <p>
    <%= content_tag(:label, l(:kanban_label_staff_role)) %>
    <%= select_tag("settings[staff_role]",
          content_tag(:option, '') +
          options_from_collection_for_select(Role.all, :id, :name, @settings['staff_role'].to_i)) %>
  </p>

  <p>
    <%= content_tag(:label, l(:kanban_label_incoming_project)) %>
    <%= select_tag("settings[incoming_project]",
          content_tag(:option, '') +
          options_from_collection_for_select(Project.find(:all, :conditions => {:status => Project::STATUS_ACTIVE}), :id, :name, @settings['incoming_project'].to_i)) %>
  </p>
</fieldset>

<fieldset>
  <%= content_tag(:legend, l(:kanban_text_pane_settings)) %>

  <%= content_tag(:p, l(:kanban_text_pane_settings_description)) %>

  <%= issue_status_pane('incoming') %>
  <%= issue_status_pane('backlog') %>
  <%= issue_status_pane('selected-requests') %>
  <%= issue_status_pane('active') %>
  <%= issue_status_pane('testing') %>
</fieldset>
