<div id="new-issue-wrapper">

<h2><%=l(:label_issue_new)%></h2>

<% labelled_tabular_form_for :issue, @issue, :url => {:controller => 'issues', :action => 'create'},
                             :html => {:multipart => true, :id => 'issue-form'} do |f| %>
    <%= error_messages_for 'issue' %>
    <p>
    <%= f.select :project_id,
               project_tree_options_for_select(@allowed_projects, :selected => @project),
               :onchange => remote_function(:url => { :action => 'new', :format => 'js' },
                                            :method => :get,
                                            :update => 'new-issue-wrapper',
                                            :with => "Form.serialize('issue-form')") %></p>

    <div class="box">
      <%= render :partial => 'issues/form', :locals => {:f => f} %>
    </div>
    <%= submit_tag l(:button_create) %>
<% end %>


</div>
