<div class="flash error" style="display:none"></div>
<div class="flash warning" style="display:none"></div>
<div class="flash notice" style="display:none"></div>

<h2><%= l(:kanban_overview_title) %></h2>

<% kanban_contextual_menu do |menu| %>
  <%= menu.color_help %>
  <%= menu.my_kanban_requests %>
  <%= menu.assigned_requests %>
<% end %>

<div class="clear"></div>

<%= render :partial => 'kanbans/user_help' %>
<%= render :partial => 'kanbans/color_help' %>


<% html_title l(:kanban_overview_title) %>

<% content_for :header_tags do %>
  <%= include_calendar_headers_tags %>
  <%= stylesheet_link_tag 'smoothness/jquery-ui-1.7.3.custom.css', :plugin => "redmine_kanban" %>
  <%= stylesheet_link_tag 'redmine_kanban.css', :plugin => "redmine_kanban" %>
  <%= javascript_include_tag 'jquery-1.3.2.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'jquery-ui-1.7.3.custom.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'jquery.json-1.3.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'jquery.ajax_queue.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'jquery.form.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'kanban-common.js', :plugin => 'redmine_kanban' %>
<% end %>
