<div class="flash error" style="display:none"></div>

<h2>
  <% if showing_current_user_kanban? %>
    <%= l(:text_my_kanban_requests_title) %>
  <% else %>
    <%= l(:text_user_kanban_requests_title, :user => @user ) %>
  <% end %>
</h2>

<div class="contextual">
  <% if User.current.allowed_to?(:view_kanban, nil, :global => true) %>
  <%= link_to(l(:text_kanban_board), kanban_url, :class => 'icon') %>
  <% end %>
  <% if kanban_settings["management_group"] && User.current.group_ids.include?(kanban_settings["management_group"].to_i) %>
    <% form_tag(kanban_user_kanbans_path, :method => :post, :id => 'user_switch') do %>
      <%= label_tag('user_id', l(:label_user_switch)) %>
      <%= collection_select(:user, :id, User.active.sort, :id, :name, :include_blank => true) %>
    <% end %>
  <% end %>
</div>

<div class="clear"></div>

<div id="kanban">
  <div class="kanban-headers horizontal-lane">
    <div class="kanban-header"><%= content_tag(:h3, l(:label_project)) %></div>
    <div class="kanban-header"><%= content_tag(:h3, l(:kanban_text_testing)) %></div>
  </div>

  <% @kanban.projects.each do |project| %>
  <div class="project-lane horizontal-lane">
    <div class="project">
      <%= link_to(h(project), {:controller => "projects", :action => "show", :id => project}, :class => 'project-name') %>
    </div>

    <div id="testing-<%= h(@user.id) -%>" class="testing user-<%= h(@user.id) -%>">
      <ol id="testing-issues-user-<%= h(@user.id) %>" class="testing-issues">
        <% 
           if @kanban.testing_issues[@user].present?
             issues = @kanban.testing_issues[@user].collect {|kanban_issue|
               if kanban_issue.issue.project_id == project.id
                 kanban_issue.issue
               end
             }
           else
             issues = []
           end
           %>

        <% if issues.empty? %>
          <%= render :partial => 'kanbans/empty_issue' %>
        <% else %>
          <%= render(:partial => 'kanbans/issue',
                     :collection => issues,
                     :locals => { :limit => Setting['plugin_redmine_kanban']["panes"]["testing"]["limit"].to_i }) %>
        <% end %>
      </ol>
    </div>
  </div>
  <% end %>
</div>


<% if showing_current_user_kanban? %>
  <% html_title l(:text_my_kanban_requests_title) %>
<% else %>
  <% html_title l(:text_user_kanban_requests_title, :user => @user ) %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'smoothness/jquery-ui-1.7.3.custom.css', :plugin => "redmine_kanban" %>
  <%= stylesheet_link_tag 'redmine_kanban.css', :plugin => "redmine_kanban" %>
  <%= javascript_include_tag 'jquery-1.3.2.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'jquery-ui-1.7.3.custom.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'jquery.json-1.3.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'jquery.ajax_queue.js', :plugin => 'redmine_kanban' %>
  <%= javascript_tag("jQuery.noConflict();") %>
  <%= javascript_include_tag 'user_kanban.js', :plugin => 'redmine_kanban' %>
<% end %>
