<% if issue %>
<li id="issue_<%= issue.id %>" class="kanban-issue issue <%= over_pane_limit?(limit, issue_counter) if defined?(limit) -%>">
  <div class="issue-details">
    <%= link_to(image_tag('ticket.png'), :controller => 'issues', :action => 'show', :id => issue) %>
    #<%= h(issue.id) %> - <%= h(issue.project.name) %> - <%= h(issue.subject) %>
  </div>
</li>
<% end %>