<% if issue %>
<li id="issue_<%= issue.id %>" class="<%= over_pane_limit?(limit, issue_counter) if defined?(limit) -%> <%= kanban_issue_css_classes(issue) %>">
  <div class="issue-details">
    <%= issue_icon_link(issue) %>
    <%= call_hook(:view_kanbans_issue_details, :issue => issue) %>
    #<%= h(issue.id) %> - <%= h(issue.project.name) %> - <%= h(issue.subject) %>
  </div>
</li>
<% end %>
