<div class="flash error" style="display:none"></div>

<h2><%= l(:kanban_title) %></h2>

<div id="kanban">
  <div id="unstaffed-requests" class="column">
    <div id="incoming" class="pane">
      <%= render :partial => 'incoming' %>
    </div>
    <div id="backlog" class="pane">
      <%= render :partial => 'backlog' %>
    </div>
  </div>
  <div id="selected-requests" class="column">
    <div id="quick-tasks" class="pane">
      <%= render :partial => 'quick' %>
    </div>
    <div id="selected-tasks"class="pane">
      <%= render :partial => 'selected' %>
    </div>
  </div>
  <div id="staffed-requests" class="column">
    <%= content_tag(:div, content_tag(:h3, l(:kanban_text_user)), :class => "active-header user") %>
    <%= content_tag(:div, content_tag(:h3, l(:kanban_text_active)), :class => "active-header active") %>
    <%= content_tag(:div, content_tag(:h3, l(:kanban_text_testing)), :class => "active-header testing") %>

    <%= render :partial => 'user', :collection => @kanban.users %>

  </div>
  <div id="finished-requests" class="column">
    <%= content_tag(:h3, l(:kanban_text_finished_requests)) %>
  </div>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_kanban.css', :plugin => "redmine_kanban" %>
  <%= javascript_include_tag 'jquery-1.3.2.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'jquery.json-1.3.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_tag("jQuery.noConflict();") %>
  <%= javascript_include_tag 'kanban.js', :plugin => 'redmine_kanban' %>
<% end %>
