<div class="flash error" style="display:none"></div>

<h2><%= l(:kanban_title) %></h2>

<p class="general-help"><%= l(:kanban_text_general_help) %></p>

<div id="kanban">
  <div id="unstaffed-requests" class="column">
    <% if pane_configured?('incoming') %>
    <div id="incoming" class="pane">
      <%= render :partial => 'incoming' %>
    </div>
    <% end %>
    <% if pane_configured?('backlog') %>
    <div id="backlog" class="pane">
      <%= render :partial => 'backlog' %>
    </div>
    <% end %>
  </div>
  <div id="selected-requests" class="column">
    <% if pane_configured?('backlog') %>
    <div id="quick-tasks" class="pane">
      <%= render :partial => 'quick' %>
    </div>
    <% end %>
    <% if pane_configured?('selected') %>
    <div id="selected-tasks"class="pane">
      <%= render :partial => 'selected' %>
    </div>
    <% end %>
  </div>
  <div id="staffed-requests" class="column">
    <div id="staffed-requests-header" class="staff">
      <%= content_tag(:div, content_tag(:h3, l(:kanban_text_user)), :class => "staffed-column user") %>
      <%= content_tag(:div, content_tag(:h3, l(:kanban_text_active)), :class => "staffed-column active") %>
      <%= content_tag(:div, content_tag(:h3, l(:kanban_text_testing)), :class => "staffed-column testing") %>
      <%= content_tag(:div, content_tag(:h3, l(:kanban_text_finished_requests)), :class => "staffed-column finished") %>
    </div>
    <div style="clear:both"></div>

    <%= render :partial => 'user', :collection => @kanban.users %>
  </div>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_kanban.css', :plugin => "redmine_kanban" %>
  <%= javascript_include_tag 'jquery-1.3.2.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'jquery.json-1.3.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'jquery.ajax_queue.js', :plugin => 'redmine_kanban' %>
  <%= javascript_tag("jQuery.noConflict();") %>
  <% if allowed_to_edit? %>
  <%= javascript_include_tag 'kanban.js', :plugin => 'redmine_kanban' %>
  <% end %>
<% end %>

<% html_title l(:kanban_title) %>
