<h2><%= l(:kanban_title) %></h2>

<div id="kanban">
  <div id="unstaffed-requests" class="column">
    <div id="incoming" class="pane">
      <%= content_tag(:h3, l(:kanban_text_incoming)) %>
      <ol id="incoming-issues">
        <%= render :partial => 'issue', :collection => @incoming_issues %>
      </ol>
    </div>
    <div id="backlog" class="pane">
      <%= content_tag(:h3, l(:kanban_text_backlog)) %>
      <ol id="backlog-issues">
        <%= render :partial => 'backlog_issues', :object => @backlog_issues %>
      </ol>
    </div>
  </div>
  <div id="selected-requests" class="column">
    <%= content_tag(:h3, l(:kanban_text_selected_requests)) %>
  </div>
  <div id="staffed-requests" class="column">
    <div id="user" class="column">
      <%= content_tag(:h3, l(:kanban_text_user)) %>
    </div>
    <div id="active" class="column">
      <%= content_tag(:h3, l(:kanban_text_active)) %>
    </div>
    <div id="testing" class="column">
      <%= content_tag(:h3, l(:kanban_text_testing)) %>
    </div>
  </div>
  <div id="finished-requests" class="column">
    <%= content_tag(:h3, l(:kanban_text_finished_requests)) %>
  </div>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_kanban.css', :plugin => "redmine_kanban" %>
  <%= javascript_include_tag 'jquery-1.3.2.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_tag("jQuery.noConflict();") %>
  <%= javascript_include_tag 'kanban.js', :plugin => 'redmine_kanban' %>
<% end %>
