<div class="flash error" style="display:none"></div>

<h2><%= l(:kanban_title) %></h2>

<div class="contextual">
  <% if User.current.allowed_to?(:edit_kanban, nil, :global => true) %>
  <%= link_to(l(:kanban_text_sync), sync_kanban_url, :method => :put, :class => 'icon icon-reload') %>
  <% end %>
  <%= link_to_function(l(:kanban_text_color_help), "$('color-help').toggle();", :class => 'icon icon-info') %>
</div>

<p class="general-help"><%= l(:kanban_text_general_help) %></p>

<%= render :partial => 'color_help' %>

<div id="kanban">
  <% if KanbanPane::IncomingPane.configured? || KanbanPane::BacklogPane.configured? %>
  <div id="unstaffed-requests" class="column" style="width: <%= column_width(:unstaffed) %>%">
    <% if KanbanPane::IncomingPane.configured? %>
    <div id="incoming" class="pane">
      <%= render :partial => 'incoming' %>
    </div>
    <% end %>
    <% if KanbanPane::BacklogPane.configured? %>
    <div id="backlog" class="pane">
      <%= render :partial => 'backlog' %>
    </div>
    <% end %>
  </div>
  <% end %>
  <% if KanbanPane::QuickPane.configured? || KanbanPane::SelectedPane.configured? %>
  <div id="selected-requests" class="column" style="width: <%= column_width(:selected) %>%">
    <% if KanbanPane::QuickPane.configured? %>
    <div id="quick-tasks" class="pane">
      <%= render :partial => 'quick' %>
    </div>
    <% end %>
    <% if KanbanPane::SelectedPane.configured? %>
    <div id="selected-tasks"class="pane">
      <%= render :partial => 'selected' %>
    </div>
    <% end %>
  </div>
  <% end %>
  <div id="staffed-requests" class="column" style="width: <%= column_width(:staffed) %>%">
    <div id="staffed-requests-header" class="staff">
      <%= content_tag(:div, content_tag(:h3, l(:kanban_text_user)), :class => "staffed-column user", :style => "width: #{staffed_column_width(:user)}%") %>
      <%= content_tag(:div, content_tag(:h3, l(:kanban_text_active)), :class => "staffed-column active", :style => "width: #{staffed_column_width(:active)}%") if KanbanPane::ActivePane.configured? %>
      <%= content_tag(:div, content_tag(:h3, l(:kanban_text_testing)), :class => "staffed-column testing", :style => "width: #{staffed_column_width(:testing)}%") if KanbanPane::TestingPane.configured? %>
      <%= content_tag(:div, content_tag(:h3, l(:kanban_text_finished_requests)), :class => "staffed-column finished", :style => "width: #{staffed_column_width(:finished)}%") if KanbanPane::FinishedPane.configured? %>
      <%= content_tag(:div, content_tag(:h3, l(:kanban_text_canceled_requests)), :class => "staffed-column canceled", :style => "width: #{staffed_column_width(:canceled)}%") if KanbanPane::CanceledPane.configured? %>
    </div>
    <div style="clear:both"></div>

    <%= render :partial => 'user', :collection => @kanban.users %>
  </div>
</div>

<div id="dialog-window" title="<%= l(:field_issue) -%>">
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'smoothness/jquery-ui-1.7.3.custom.css', :plugin => "redmine_kanban" %>
  <%= stylesheet_link_tag 'redmine_kanban.css', :plugin => "redmine_kanban" %>
  <%= javascript_include_tag 'jquery-1.3.2.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'jquery-ui-1.7.3.custom.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'jquery.json-1.3.min.js', :plugin => 'redmine_kanban' %>
  <%= javascript_include_tag 'jquery.ajax_queue.js', :plugin => 'redmine_kanban' %>
  <%= javascript_tag("jQuery.noConflict();") %>
  <% if allowed_to_edit? %>
  <%= javascript_include_tag 'kanban.js', :plugin => 'redmine_kanban' %>
  <% end %>
<% end %>

<% html_title l(:kanban_title) %>
